@font-face {
 font-family: 'Bitcount Single';
 src: url("./BitcountSingle-Light.ttf") format('truetype');
}

body {
    background: black;
    color: white;
}

h1 {
  font-family: "Bitcount Single", Georgia;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  text-align: center;
  margin: auto;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 50%
}